*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
idoc-theme-*/
JS/WSshell/node_modules/*
JS/VUEBasic/node_modules/*
/app/Docs/Case-Study/JS/D3/D3-Agular/Data Visualization with D3 and AngularJS_Code/Chapter 9/.DS_Store
/app/Docs/Case-Study/JS/D3/D3-Agular/Data Visualization with D3 and AngularJS_Code/Chapter 9/node_modules/*
